---
import MainLayout from '@layouts/MainLayout.astro'
import ServicesCard from '@components/ServicesCard.astro'

import cameraImage from '@images/services-camera.png'
import webDevelopmentImage from '@images/services-web-development.png'
import mobileDevelopmentImage from '@images/services-mobile-development.png'
import networkImage from '@images/services-network.png'
import technicalServicesImage from '@images/services-technical-services.png'
import servicesComputerSuppliesImage from '@images/services-computer-supplies.png'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Servicios</title>
    </head>
    <body>
        <MainLayout>
            <section class="flex flex-col">
                <h1 class="font-bold text-3xl text-white text-center mt-8">
                    ¿Cuáles son los servicios que ofrecemos?
                </h1>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-10 p-10">
                    <ServicesCard
                        img={cameraImage}
                        titulo="Servicio de instalación de circuito cerrado."
                        description="Soluciones de seguridad personalizadas con instalación profesional de sistemas de circuito cerrado."
                    />
                    <ServicesCard
                        img={webDevelopmentImage}
                        titulo="Desarrollo de páginas web y aplicaciones web."
                        description="Creamos sitios web atractivos y aplicaciones funcionales adaptadas a tus necesidades."
                    />
                    <ServicesCard
                        img={mobileDevelopmentImage}
                        titulo="Desarrollo de aplicaciones móviles."
                        description="Desarrollo de aplicaciones móviles intuitivas y optimizadas para todas las plataformas."
                    />
                    <ServicesCard
                        img={networkImage}
                        titulo="Instalación de cableado estructurado en red."
                        description="Implementamos cableado estructurado para una conectividad y rendimiento de red óptimos."
                    />
                    <ServicesCard
                        img={technicalServicesImage}
                        titulo="Servicios técnicos."
                        description="Soporte técnico integral para mantener tus sistemas y dispositivos en óptimas condiciones."
                    />
                    <ServicesCard
                        img={servicesComputerSuppliesImage}
                        titulo="Insumos informáticos."
                        description="Proporcionamos insumos de calidad para optimizar el rendimiento de tus equipos."
                    />
                </div>
                <div
                    class="flex justify-around items-center bg-gray-500 h-[500px] text-white"
                >
                    <h1>Contacto</h1>
                    <a
                        class="border border-green-500 text-green-500 text-center text-xl hover:bg-green-500 hover:text-white rounded-full w-[200px] p-3"
                        href="/contact">Contactar</a
                    >
                </div>
            </section>
        </MainLayout>
    </body>
</html>
