---
// TechnologyItem.astro
interface Props {
    img: ImageMetadata
    name: string
    description: string
    technologies: string[]
}

const { img, name, description, technologies } = Astro.props
---

<div
    class="card w-[300px] bg-gray-800 border border-gray-700 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 opacity-0 translate-y-8 transition-all duration-1000 ease-in-out"
>
    <a href="#">
        <img class="rounded-t-lg" src={img.src} alt={name} />
    </a>
    <div class="p-5">
        <a href="#">
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
            >
                {name}
            </h5>
        </a>
        <div class="flex flex-wrap">
            {
                technologies.map((tech) => (
                    <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-blue-900 text-blue-300">
                        {tech}
                    </span>
                ))
            }
        </div>
        <p class="mt-2 mb-3 font-normal text-gray-400">{description}</p>
    </div>
</div>
